body{
	font-family: sans-serif;
}
.Body{
    background-color: #ffcc66;
    padding-bottom: 50px;
   border: 2.5px solid black;
}
.Whythiswebsite{
	padding-top: 20px; 
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
	text-align: center;
}
.variants{
	text-align: center;
	padding-bottom: 20px;
}
.button1{
	background-color:  white;
	border: 2px solid  #4d4d4d;
	text-align: center;
	text-decoration: none;
	color: red;
	padding: 100px;
	transition-duration: 0.1s;
	display: inline-block;
	min-width: 150px;
	background: url(images/Sprite.png) no-repeat;
}
.button1:hover{
	color: white;
	background-color: #262626;
	border: 2px solid white;
	background-position: 50px -715px;
}
.button2{
	background-color:  white;
	border: 2px solid  #4d4d4d;
	text-align: center;
	text-decoration: none;
	color: red;
	padding: 100px;
	transition-duration: 0.1s;
	display: inline-block;
	min-width: 150px;
	background: url(images/test.png) no-repeat;
}
.button2:hover{
	color: white;
	background-color: #262626;
	border: 2px solid white;
	background-position: 100px -760px;
}
.button3{
	background-color:  white;
	border: 2px solid  #4d4d4d;
	text-align: center;
	text-decoration: none;
	color: red;
	padding: 100px 100px 100px 100px;
	transition-duration: 0.1s;
	display: inline-block;
	min-width: 150px;
}
.button3:hover{
	color: white;
	background-color: #262626;
	border: 2px solid white;
}
.button4{
	background-color:  white;
	border: 2px solid  #4d4d4d;
	text-align: center;
	text-decoration: none;
	color: red;
	padding: 100px 100px;
	transition-duration: 0.1s;
	display: inline-block;
	min-width: 150px;
}
.button4:hover{
	color: white;
	background-color: #262626;
	border: 2px solid white;
}


footer{
	padding-top: 30px;
	font-size: 10px;
}
button{
	min-width: 100px;
}